@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}
:root{
    --main-color: cyan;
    /* card */
    --card-width:345px;
    --image-height:350px;
    /*  */
}

.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1ch;
}

html{
    scroll-behavior: smooth;
}
body{
    background-image: url(/public/artshop/Background/mine.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* filter: blur(8px); */
    color: white;
   
}
.poppins_font{
    font-family: "poppins", sans-serif;
}

/* home */
.home_section_height{
    height: 373.66px
}
/* Navbar */
.header_menu:hover{
    text-shadow: 0 0 5px rgb(255, 255, 255), 
    0 0 10px rgb(255, 255, 255), 
    0 0 20px rgb(255, 255, 255), 
    0 0 50px rgb(255, 255, 255), 
    0 0 30px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.box_shadows{
    box-shadow: 0px 0px 10px 0px #ffffff inset;
}
/*  */
/* intro info */
.images{
  max-width: min(20rem,100%);
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* home end */

/*art section  */

/* card */
@media screen {
  .card_width {
    width:var(--card-width) ;
  }
   .card_image_height{
    height:var(--image-height);
  }
}
@media (max-width: 598px) {
  .card_width {
    width:calc(var(--card-width)/1.5) ;
  }
   .card_image_height{
    height:calc(var(--image-height)/1.5);
  }
}

.button_setup{

    @apply text-base text-white px-3 py-1 font-cinzel text-transparent bg-clip-text bg-gradient-to-r from-red-700 to-yellow-500 to-65% border
    rounded-full font-semibold
}
.button_setup:hover{
      text-shadow: 0 0 5px rgb(255, 255, 255), 
    0 0 10px rgb(255, 255, 255), 
    0 0 20px rgb(255, 255, 255), 
    0 0 50px rgb(255, 255, 255), 
    0 0 30px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  margin-top: -12px;
  background: transparent;
  /* overflow-y: auto; */
   /* height: 60vh; */
}
.form-container2 { 
 @apply flex relative justify-center gap-6  
}
 .picture_container{
  @apply  w-3/6 border p-2 rounded-lg h-96 border-slate-50/10 
}


/* Grid layout for 2-column form */
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

#form1 label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

#form1 input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  color: black;
}
.person {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%;
  display: inline-block;
  color: black;
}

/* Button styles */
#submitbutton {
  background: blue;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#form1 #submitbutton:hover {
  background: darkblue;
}

.countperson{
  width: 40px;
  @apply  bg-slate-800/80 rounded-md px-3 
}
.countperson:hover{
  text-shadow: 0 0 5px rgb(255, 255, 255), 
    0 0 10px rgb(255, 255, 255), 
    0 0 20px rgb(255, 255, 255), 
    0 0 50px rgb(255, 255, 255), 
    0 0 30px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

/* Responsive design for mobile screens */
@media (max-width: 670px) {
  .form-row {
    grid-template-columns: 1fr; /* Stack inputs on smaller screens */
  }
   .person{
    width:70%;
  }
  .form-container {
  overflow-y: auto;
   height: 60vh;
}

}

@media (max-width: 767px) {
   .form-container2 {
  overflow-y: auto;
   height: 60vh;

  @apply flex-col items-center 
}
 .picture_container{
  @apply  h-40 
}
}
  

@media (max-width: 898px) {
  .person{
    width:45%;
  }

}

/* form2 */
.confirmation_form span{
  @apply font-thin
}
.confirmation_form h1{
  @apply font-semibold
}

/* end */

/* conatct */
#contact{
  width: min(100vw,90%);
  @apply mx-auto my-5
}

#contact input{
  border:1px solid #0ff;
  width: 100%;
  padding: 10px 20px;
  /* background-color: #ffffff; */
  @apply backdrop-blur-3xl
}
/* contact end /

/* about */
@media (max-width:1285px){
  #journey{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @apply place-items-center space-y-5
}
}
@media (max-width:875px){
  #journey{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @apply place-items-center 
}
}

/*  */

